<h2>Imagenes</h2>

  <div *ngFor="let iman of images">
      
      <h3>
          <a [title]="'Details '+ iman.name">
              {{iman.name}}
          </a>

      </h3>
      <p *ngIf="iman.description">
          Descripción:{{iman.description}}
      </p>
      <img width="300" alt="Logo fifa" src="https://as00.epimg.net/meristation/imagenes/2019/02/11/noticias/1549866770_395456_1549866856_noticia_normal.jpg">
      <p *ngIf="iman.rank">
        Rank:{{iman.rank}}
      </p>
      
  </div>
  <!--<img width="300" alt="Logo fifa" src="https://i.blogs.es/483a1e/a8ee94c79d513f7a94dc05fff2579869/450_1000.jpg"> -->
